{% extends "layout.html" %}

{% block head %}
<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/edit_tags.css')}}">-->
<!--<script src="{{url_for('static', filename='js/register_page.js')}}"></script>-->
<!--<style>-->
<!--    .jumbotron{-->
<!--        height: 100vh;-->
<!--    }-->
<!--</style>-->
{% endblock %}

{% block jumbotron_header %}
Login
{% endblock %}

{% block jumbotron_p %}
This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
featured content or information.
{% endblock %}

{% block center %}
{{super()}}
{% endblock %}